.cContactBody{
    display: flex;
    width: auto;
    min-height: calc(100vh - 120px);
    margin: 20px 20px 20px 20px;
    justify-content: center;
    align-items: center;
    }

    .cContactContent{
        display: flex;
        flex-direction: column;       
        width: 500px;
        height: 600px;
        padding: 20px 20px 20px 20px;
        background-color:rgb(211, 211, 211, 0.7);
        font-size: 18px;
        border-color: black;
        border-width: 3px;
        border-style: none;
        border-radius: 16px;
        justify-content: flex-start;
        align-items: flex-start;
        }