.cProducts {
    min-height: calc(100vh - 120px) ;
    max-height: 900px;
    margin: 30px;
    display: flex;
    flex-wrap: wrap; /* WICHTIG für Umbruch */
    gap: 20px;
    justify-content: left;
    overflow: auto;
}

.cContent{
    left: 170px;
    display: flex; 
    flex-direction: column; 
    font-size: 13px;
  }
  
  .cExampleProduct {
    top: 100px;
    left: 40px;
    width: auto;
    height: auto;
    display: flex; 
    background-color:rgb(211, 211, 211, 0.8);
    flex-direction: row; 
    border-color: black;
    border-width: 3px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px 40px 10px 20px;
  }
  
  .cDifned1{
    top: 0px;
    left: 0px;
    width: 350px;
    height: 350px;
    cursor: pointer;
    background: url("../images/products/Sider.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 5px 10px 10px 10px;
    padding-left: 5px;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
  }
  
  
  .cDifned2{
    top: 0px;
    left: 0px;
    width: 350px;
    height: 350px;
    cursor: pointer;
    background: url("../images/products/Tisch.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 5px 10px 10px 10px;
    padding-left: 10px;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
  }
  
  
  .cDifned3{
    width: 350px;
    height: 350px;
    cursor: pointer;
    background: url("../images/products/Gaderobe.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 5px 10px 10px 10px;
    padding-left: 10px 10px 10px 10px;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
  }

  .cDifned4{
    width: 350px;
    height: 350px;
    cursor: pointer;
    background: url("../images/products/Schuhherr.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 5px 10px 10px 10px;
    padding-left: 10px 10px 10px 10px;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
  }
  
  .cDifned1:hover {
    border-width: 5px;
    z-index: 1;
  }
  
  .cDifned2:hover {
    border-width: 5px;
    z-index: 1;
  }
  
  .cDifned3:hover {
    border-width: 5px;
    z-index: 1;
  }
  
  .cDifned4:hover {
    border-width: 5px;
    z-index: 1;
  }